<div class="w-full fixed top-[3rem] left-0 right-0 bg-white z-[100]">

  <div class="border-2 my-5 flex justify-center flex-col md:flex-row w-5/6 md:w-2/3 mx-auto py-3 px-10 rounded-lg ">
        <div class="flex flex-col sm:flex-col w-full">
          <input
            type="text"
            placeholder="Ingrese la noticia que quiere buscar"
            class="border
            mb-3 sm:mb-none
            h-12
                  sm:h-10
                  pl-8
                  pr-10
                bg-gray-50
                border-gray-500
                text-gray-900 rounded-lg
                focus:border-blue-500 block
                 w-full p.2.5"
                 [formControl]="palabraClaveCtrol"
            >
            <span class="message-error" [class.show]="palabraClaveCtrol.invalid && palabraClaveCtrol.touched">El Campo es Requerido</span>
          </div>
          <button
            (click)="OnClickBuscar()"
            class="bg-indigo-800 text-white h-10
                    rounded-lg px-5 ml-1">Buscar</button>
  </div>
</div>


<div class="relative z-1  top-[14rem] md:top-[12rem] bg-white h-[65vh] sm:h-[72vh] overflow-y-auto overflow-x-hidden">

  @for(articulo of arrayArticulo; track articulo){
    <app-card-articulo
    [articulo]="articulo"
    [arrayCategoria]="arrayCategoria"
    ></app-card-articulo>
  }

</div>


<!-- <div> -->
<!-- </div> -->
